@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="padding-top: 200px; ">Welcome To Bible Serach</h1>
    <p>Please click <a asp-controller="Verse" asp-action="Index">Here</a> to get to all your Bible Verses!</p>
</div>
